$deckster_deck: ".deckster-deck";
$deckster_deck_container: ".deckster-deck-container";
$deckster_title: ".deckster-title";
$deckster_card: ".deckster-card";
$deckster_card_title: ".deckster-card-title";
$deckster_controls: ".deckster-controls";
$deckster_drag_handle: ".deckster-drag-handle";
$deckster_remove_handle: ".deckster-remove-handle";
$deckster_removed_card_li: ".deckster-removed-card-li";
$deckster_removed_card_button: ".deckster-removed-card-button";

$deckster_deck_jump_scroll: '.deckster-deck-jump-scroll';


$default_card_width: 300px;
$default_card_height: 200px;
$default_card_horizontal_gutter: 10px;
$default_card_vertical_gutter: 10px;

$content-padding: 30px;

$fonts-path: "../fonts/";

@import "partials/mixins";
@import "partials/reset";
@import "partials/fonts";
@import "partials/theme";
@import "partials/grid";
@import "partials/controls";



