/* -------------------------- Controls -------------------------- */

.control {
  font-family: 'controls';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  height: 20px;
  width: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 0.75em;
}

.control.expand:before {
  content: "\e000";
}

.control.collapse:before {
  content: "\e001";
}

.control.drag:before {
  content: "\e003";
}

.control.popout:before {
  content: "\f064";
}

.control.remove:before {
  content: "\f056";
}

.control.add:before {
  content: "\e002";
}

.control.droppable1:before {
  content: "\f12e";
}

.control.droppable1.cancel:before,
.control.droppable2:before {
  content: "\f055";
}

.control.carrot-down:before {
  content: "\f0d7";
}

.control.carrot-up:before {
  content: "\f0d8";
}


#{$deckster_controls} {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  width: 100%;
}

#{$deckster_drag_handle} {
  left: 0;
}

#{$deckster_controls} > a {
  cursor: pointer;
  text-decoration: none;
}

#{$deckster_remove_handle} {

}

#{$deckster_removed_card_li} {
  white-space: nowrap;
}

#{$deckster_removed_card_button} {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.dropdown-menu.removed-cards > li > a {
  display: inline;
  padding: 2px;
  cursor: pointer;
}

.dropdown-menu.removed-cards > li > a:hover, 
.dropdown-menu.removed-cards > li > a:focus {
  background-color: white;
  background-image: none;
}

