/* -------------------------- Controls -------------------------- */

.control {
  font-family: 'controls';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  height: 40px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
}

.control.expand:before {
  content: "\e000";
}

.control.collapse:before {
  content: "\e001";
}

.control.drag:before {
  content: "\e003";
}

.control.popout:before {
  content: "\f064";
}


#{$deckster_controls} {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px;
}

#{$deckster_drag_handle} {
}

#{$deckster_controls} > a {
  cursor: pointer;
}

#{$deckster_remove_handle} {
  vertical-align: middle;
}

#{$deckster_removed_card_li} {
  white-space: nowrap;
}

#{$deckster_removed_card_button} {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.dropdown-menu.removed-cards > li > a {
  display: inline;
  padding: 2px;
  cursor: pointer;
}

.dropdown-menu.removed-cards > li > a:hover, 
.dropdown-menu.removed-cards > li > a:focus {
  background-color: white;
  background-image: none;
}

