@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans-100.eot');
    src: url('../fonts/museosans-100.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100.woff') format('woff'),
         url('../fonts/museosans-100.ttf') format('truetype'),
         url('../fonts/museosans-100.svg#MuseoSans') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans-300.eot');
    src: url('../fonts/museosans-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-300.woff') format('woff'),
         url('../fonts/museosans-300.ttf') format('truetype'),
         url('../fonts/museosans-300.svg#MuseoSans') format('svg');
    font-weight: 300;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans-500.eot');
    src: url('../fonts/museosans-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-500.woff') format('woff'),
         url('../fonts/museosans-500.ttf') format('truetype'),
         url('../fonts/museosans-500.svg#MuseoSans') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans-700.eot');
    src: url('../fonts/museosans-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-700.woff') format('woff'),
         url('../fonts/museosans-700.ttf') format('truetype'),
         url('../fonts/museosans-700.svg#MuseoSans') format('svg');
    font-weight: 700;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans-900.eot');
    src: url('../fonts/museosans-900.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-900.woff') format('woff'),
         url('../fonts/museosans-900.ttf') format('truetype'),
         url('../fonts/museosans-900.svg#MuseoSans') format('svg');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'Controls';
    src: url('../fonts/controls.eot');
    src: url('../fonts/controls.eot?#iefix') format('embedded-opentype'),
         url('../fonts/controls.woff') format('woff'),
         url('../fonts/controls.ttf') format('truetype'),
         url('../fonts/controls.svg#Controls') format('svg');
    font-weight: normal;
    font-style: normal;
}
