$bodybg: 		#eeeeee;
$cardbg: 		#ffffff;
$text: 			#313131;
$controls: 		#bbbbbb;
$padding: 		20px;
$font: 			'MuseoSans', Arial, Helvetica, sans-serif;

/* -------------------------- Theme -------------------------- */

body {
  background: $bodybg;
  color: $text;
  font-family: $font;
  font-weight: normal;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: $text;
  font-weight: 500;
}

#{$deckster_card} {
  background: $cardbg;
  overflow: none;
  padding: 40px 0 $padding 0;
  
  #{$deckster_card_title} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $text;
    padding: 0 $padding;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }

  .control {
    color: lighten($controls,15%);
  
    &:hover {
      color: $controls;
    }
  }

  .content {
     display: block;
     overflow: auto;
     height: 100%;
     padding: 0 $padding;
  }
  
}



#card-nav-list {
  font: 12px "Lucida Grand", sans-serif;
  color: white;
  background-color: #333;
  padding: 5px;
  position:fixed;
  top:5px;
  right:5px;
  z-index: 500;
  
  li {
      padding: 5px;
  }
}
